body{float:left;font-size: 12px;font-family: "Microsoft YaHei","SimSun";margin: 0px;padding: 0px;width: 100%;background-color: #FAFAFA;}
a{text-decoration: none;outline:none;}
ul,li,dl,dt,dd,table,tr,td,th,form,span,i,em,div,h1,h2,h3,h4,h5,input,p,select,ol{margin:0px;padding:0px;}
ul,li{list-style: none;}
img{border: 0;}
.clear{clear: both;}
input{outline: none;}
input[type='text']{color: #666;padding-left: 2px;}
.lt{float:left;}
.rt{float:right;}
.red{color:#e31436;}
.c_b_c{color:#041656;}
.clean{width:100%;float:left;}
.hide{display: none;}
/*===========================é¡µé¢é¡¶éƒ¨æ ·å¼===============================*/
.top_bak{float: left;width: 100%;height: 30px;border-bottom: 1px solid #EDEDED;background-color: #FFFFFF;}
.top_content{width: 1200px;margin: 0px auto;height: 100%;font-family:"SimSun"; }
.top_right{float: right;color: #666666;}
.top_right span{float: left;}
.top_right a{color:#666666;}
.top_right  .login em{float:left;background: url(../images/icon.png) no-repeat -4px 4px;width: 20px;height: 25px;}
.top_right  .login{float: right;height: 100%;margin-left: 15px;}
.top_right  .login a{margin-right: 10px;}
.top_right  .login a:hover{color:#e31436;}
.lop_right_l{line-height: 30px;float: right;}
.lop_right_l>span{float: right;}
.lop_right_r{float: right;width: auto;}
.lop_right_r .member_center{float: left;position: relative;z-index: 40;}
.lop_right_r .member_center:hover ul{display: block;}
.lop_right_r .member_center:hover>a{border-left: 1px solid #666666;}
.lop_right_r .member_center ul{float: left;width: 89px;height: auto;position: absolute;z-index: 50;background-color: #FFFFFF;box-shadow: 0 0 5px #999999;display: none;margin-left: 1px;}
.lop_right_r .member_center ul li{float: left;width: 66px;height: 30px;margin: 0px 12px;}
.lop_right_r .member_center ul .first{float: left;height:30px;position: relative;line-height: 30px;color: #e31436;cursor: pointer;}
.lop_right_r .member_center ul .first em{position: absolute;right: 5px;top: 8px;width: 14px;height: 14px;background: url(../images/icon.png) no-repeat -20px -3px;}
.lop_right_r .member_center ul .second{border-bottom: 1px solid #DEDEDE;}
.lop_right_r .member_center ul a:hover{color: #e31436;}
.lop_right_r .member_center>a{float: left;width: 77px;height: 14px;margin-top: 8px;border-left: 1px solid #999999;border-right: 1px solid #999999;position: relative;line-height: 14px;text-indent: 12px;}
.lop_right_r .member_center>a em{position: absolute;right: 15px;top: 0;width: 14px;height: 14px;background: url(../images/icon.png) no-repeat -140px -3px;}
.lop_right_r .top_cart{float: left;width: auto;padding: 0px 12px;height: 30px;line-height: 30px;}
.lop_right_r .top_cart a{float: left;width: 100%;height: 100%;}
.lop_right_r .top_cart:hover{background-color: #223066;color: #FFFFFF;}
.lop_right_r .top_cart:hover a{color: #FFFFFF;}
.lop_right_r .top_cart a:hover em{background: url(../images/icon.png) no-repeat -40px -3px;}
.lop_right_r .top_cart a em{float: left;width: 18px;height: 18px;background: url(../images/icon.png) no-repeat -60px -3px;margin: 8px 5px 0px 0px;}
.lop_right_r .mobile{float: left;border-right:1px #fff solid;padding-right:15px;color: #e31436;position: relative;z-index: 500;}
.lop_right_r .mobile i{width:1px;height:14px;background:#999;margin:8px 15px 0 0;float:left;}
.lop_right_r .mobile span{float: left;width: 7px;height: 11px;background: url(../images/icon.png) no-repeat -107px -4px;margin:9px 5px 0 0 ;}
.lop_right_r .mobile a{line-height:30px;color: #e31436;}
.lop_right_r .mobile:hover{background:#fafafa;height:31px;border-right:1px #dedede solid;}
.lop_right_r .mobile:hover i{background:#dedede;height:30px;margin:0px 15px 0 0;}
.lop_right_r .mobile ul{display:none;position: absolute;top:31px;right:-1px;width:245px;background:#fafafa;border:1px #dedede solid;border-top:none;padding:15px 0;}
.lop_right_r .mobile ul li{width:100px;margin-left:15px;float:left;}
.lop_right_r .mobile ul li img{width:100px;height:100px;}
.lop_right_r .mobile ul li div{display:block;height:24px;line-height: 24px;text-align: center;color:#333;font-family: "Microsoft YaHei";}
.lop_right_r .mobile:hover ul{display: block;}

/*=========================æ–°çš„å³è¾¹å¯¼èˆªæ ·å¼==========================*/
.right_menu{width: 40px;height: 100%;position: fixed;right: 0;top: 0px;background-color: #041656;z-index: 9000}
.right_menu_con{float: left;width: 100%;height: 500px;display: none;}
.right_menu_con li{padding: 10px 0;border-bottom: 1px solid #FAFAFA;}
.right_menu_li1{float: left;width: 100%;height: 45px;}
.right_menu_li1 a,.right_menu_li2 a,.right_menu_li3 a{float: left;width: 100%;height: 100%;}
.right_menu_li1:hover,.right_menu_li2:hover,.right_menu_li3:hover{background-color: #FF7400;}
.right_menu_li1 a span{background: url(../images/icon.png) no-repeat 2px -120px;float: left;width: 100%;height: 40px;}
.right_menu_li2{float: left;width: 100%;height: 100px;background-color: #FF7400;}
.right_menu_li2 em,.right_menu_li3 em{float: left;width: 100%;height: 30px;background: url(../images/icon.png) no-repeat -39px -127px;}
.right_menu_li2 span,.right_menu_li3 span{float: left;width: 20px;height: auto;font-size: 16px;color: #FFFFFF;line-height: 20px;margin-left: 10px;text-align: center;margin-top: 5px;}
.right_menu_li3{float: left;width: 100%;height:115px;border-bottom: 1px solid #FAFAFA;z-index: 9001;position: relative;}
.right_menu_li3 em{background-position: -79px -127px;}
.right_menu_li3 .kefu_div{float: left;background-color: #FBDEC5;position: absolute;z-index: 9000;top: 0px;right: 40px;padding-top: 5px;width: 0px;overflow: hidden;}
.right_menu_li3 .kefu_div h3{float: left;width: 100%;height: 25px;line-height: 25px;text-indent: 15px;font-size: 16px;color: #333333;font-weight: normal;font-family: 'é»‘ä½“';overflow: hidden;}
.right_menu_li3 .kefu_div dl{float: left;width: 100%;height: auto;overflow: hidden;}
.right_menu_li3 .kefu_div dl dt{float: left;width: 100%;height: 20px;line-height: 20px;text-indent: 15px;font-size: 14px;color: #666666;overflow: hidden;}
.right_menu_li3 .kefu_div dl dd{float: left;width: 100%;padding: 2px 0px;overflow: hidden;}
.right_menu_li3 .kefu_div dl dd p,.right_menu_li3 .kefu_div div p{float: left;width: 65px;height: 25px;line-height: 25px;cursor: pointer;overflow: hidden;color: #ff7400;margin-left: 5px;}
.right_menu_li3 .kefu_div dl dd #yingxiaoqq3,.right_menu_li3 .kefu_div dl dd #yingxiaoqq7,.right_menu_li3 div dl dd #yingxiaoqq4{margin-left: 15px;}
.right_menu_li3 .kefu_div dl dd p i,.right_menu_li3 .kefu_div div p i{float: left;width: 20px;height: 20px;background: url(../images/tubiao.png) no-repeat -259px -300px;margin-right: 5px;}
.right_menu_li3 .kefu_div div{float: left;width: 100%;height: 25px;overflow: hidden;}
.right_menu_li3 .kefu_div div label{float: left;width: 65px;height: 25px;line-height: 25px;font-size: 14px;color: #666666;margin-left: 15px;overflow: hidden;}
.right_menu_li4,.right_menu_li5,.right_menu_li6{float: left;width: 100%;height: 38px;position: relative;z-index: 9001;}
.right_menu_li4 div,.right_menu_li5 div,.right_menu_li6 div{float: left;width: 100%;height: 38px;background: url(../images/icon.png) no-repeat;background-color: #041656;position: absolute;z-index: 9003;}
.right_menu_li4 div{background-position: -118px -121px;}
.right_menu_li5 div{background-position: -158px -121px;}
.right_menu_li6 div{background-position: -198px -121px;}
.right_menu_li4:hover div,.right_menu_li5:hover div,.right_menu_li6:hover div{background-color: #FF7400;cursor: pointer;}
.right_menu_li4 a,.right_menu_li5 a,.right_menu_li6 a{float: left;width: 125px;position: absolute;right: -85px;top: 10px;font-size: 16px;line-height: 38px;color: #FFFFFF;text-indent: 10px;overflow: hidden;z-index: 9002;}
.right_menu_li4 a em,.right_menu_li5 a em,.right_menu_li6 a em{float: left;width: 25px;height: 38px;background:url(../images/icon.png) no-repeat 0 -20px; }
.right_menu_li4 a span,.right_menu_li5 a span,.right_menu_li6 a span{float: left;width: 100px;height: 38px;background-color: #FF7400;}
.right_back_top{float: left;width: 40px;height: 40px;color: #FFFFFF;position: absolute;bottom: 10px;left: 0px;cursor: pointer;}
.right_back_top span{float: left;width: 20px;height: 20px;margin:10px;background: url(../images/icon.png) no-repeat -160px 0px;}
.right_back_top div{display: none;width: 30px;height: 30px;padding: 5px;line-height: 15px;text-align: center;}
.right_back_top:hover div{display: block;}
.right_back_top:hover span{display: none;}

/*======================é¡µé¢å¤´éƒ¨logoã€æœç´¢åŠå¯¼èˆªæ ·å¼======================================*/
.header_bak{float: left;width: 100%;border-bottom: 2px solid #041656;background-color: #FFFFFF;}
.header{width: 1200px;margin: 25px auto;}
.header .logo{float: left;width:400px;margin:21px 0;}
.header .logo img{float:left;}
.header_search{float: left;width:560px;height: 73px;margin:21px 0;}
.search_bak{float: left;width: 560px;height: 44px;background-color: #041656;}
.search_bak div{float: left;width:467px;height: 40px;background-color: #FFFFFF;margin: 2px 0px 0px 2px;}
.search_bak div em{float: left;width:15px;height: 15px;background: url(../images/icon.png) no-repeat -182px -2px;margin: 13px 0px 0px 8px;}
.search_bak div input{float: left;width: 435px;height: 24px;margin: 8px 0 8px 5px;border:0px;color: #777777;font-size: 14px;}
.search_bak span{float: left;width: 90px;height: 44px;text-align: center;line-height: 44px;font-size: 16px;color: #FFFFFF;cursor: pointer;}
.hot_keywords{float: left;width: 100%;height: 30px;line-height: 30px;}
.hot_keywords a{float: left;width: auto;color: #999999;font-family: 'SimSun';margin-right: 12px;}
.hot_keywords a:hover{color: #e31436;}
.header_tel{width:240px;margin:21px 0;float:left;}
.header_tel img{width:170px;height:56px;margin:0px 35px;}
/*=====================åº•éƒ¨==============================*/
.foot_bak{float: left;width: 100%;background: #FFF;margin-top: 40px;padding-bottom: 20px;border-top: 1px solid #D6D6D6;}
.foot_cont{width: 1200px;margin: 0px auto;}
.foot_cont .ymi_ts{float: left;width: 100%;height: 45px;margin-top: 35px;text-align: center;}
.foot_ymi_sm{float: left;width: 100%;height: 160px;margin-top: 35px; }
.foot_ymi_sm .img{float: left;margin-left: 60px;margin-right: 20px;}
.foot_ymi_sm dl{float: left;width: 110px;min-height:130px;border-left: 1px solid #C9C9C9;margin-left: 25px;}
.foot_ymi_sm dl dt{float: left;width: 100%;height: 24px;line-height: 24px;font-size: 14px;color: #333;text-indent: 15px;padding-bottom: 5px;}
.foot_ymi_sm dl dd{float: left;width: 100%;height: 25px;line-height: 25px;text-indent: 15px;}
.foot_ymi_sm dl dd a{color: #7e7e7e;}
.foot_ymi_sm dl dd a:hover{color: #223066;text-decoration: underline;}
.foot_erweima{float: left;width:195px;height:130px;padding-left:15px;border-left: 1px solid #C9C9C9;}

.foot_kf_work{width: 600px;height: 20px;line-height: 20px;margin-left: 300px;float: left;margin-top: 24px;}
.foot_kf_work i{float: left;width: 7px;height: 7px;border-radius: 7px;background-color: #D4297A;margin: 6px 10px 0px 10px;}
.foot_kf_work span{float: left;width: auto;color: #6b6b6b;margin: 0px;}
.footer_bak{float: left;width: 100%;height: auto;background-color: #041656;padding: 5px 0px 10px;}
.footer{width: 1200px;margin: 0px auto;}
.foot_link{float: left;width: 100%;height: auto;line-height: 20px;text-align: center;margin-top:6px;}
.foot_link a {display: inline-block;vertical-align: middle;padding: 0 10px;color: #dedede;border-right: 1px solid #777;margin: 5px 0;height: 14px;line-height: 14px;}
.foot_link a:hover{text-decoration: underline;}
.foot_bq{float: left;width: 100%;line-height: 24px;color: #E4E4E4;text-align: center;margin-top: 8px;}


/*ä¸»ä½“*/
.content_bak{float: left;width: 100%;}
.content{width: 1200px;margin: 0 auto;}
.position{float: left;width: 100%;height: 40px;line-height: 40px;color:#223066;}
.position a{font-size: 14px;color: #223066;}

/*news*/
.news_content{width:100%;background:#ebebeb;float:left;}
.column240{width:240px;float:left;}
.column240 h1{width:100%;height:60px;line-height: 60px;font-size:24px;text-align:center;font-weight:normal;float:left;}
.column240 ul,.column240 ul li{width:100%;float:left;}
.column240 ul li a{width:200px;padding:0 20px;height:40px;line-height: 40px;color:#666;font-size:16px;float:left;}
.column240 ul li a:hover{color:#041656;}
.column240 ul li a em{width:14px;height:14px;line-height:14px;text-align:center;color:#FFF;background:#041656;margin:13px 10px 0 0;font-style:normal;float:left;}
.column240 ul li.selected{background:#041656;}
.column240 ul li.selected a{color:#FFF;}
.column240 ul li.selected a em{color:#041656;background:#FFF;}
.column960{width:880px;padding:40px;background:#FFF;float:right;}
.news_list,.news_list dl,.news_list dl dt,.news_list dl dd,.news_title,.news_title dt,.news_title dd,.news_text,.news_text p,.share,.prev_next,.releted_news,.releted_news h3,.releted_news ul,.releted_product,.releted_product h3{width:100%;float:left;}
.news_list dl{margin-bottom: 20px;}
.news_list dl dt{height:36px;line-height: 36px;overflow: hidden;}
.news_list dl dt h3{width: 700px;font-size:16px;font-weight:normal;color:#333;float:left;}
.news_list dl dt h3 a{color:#333;}
.news_list dl dt h3 a:hover,.news_list dl dd a:hover,.prev_next dt a:hover,.prev_next dd a:hover{text-decoration: underline;}
.news_list dl dt span{width:80px;text-align: right;color:#999;float:right;}
.news_list dl dd{height:40px;line-height: 20px;color:#999;overflow:hidden;padding-bottom:20px;border-bottom:1px #dedede solid;float:left;}
.news_list dl dd a{color:#FF7400;}
.news_title dt{height:40px;line-height:40px;color:#333;font-size:24px;padding-bottom: 5px;text-align: center;overflow: hidden;}
.news_title dd{height:30px;line-height: 30px;color:#777;padding-bottom: 5px;border-bottom: 1px solid #f7f7f7;text-align: center;overflow: hidden;}
.news_text{padding:20px 0;}
.news_text img{max-width:800px;margin:0;padding-bottom: 20px;}
.news_text p{text-indent:24px;line-height: 24px;color:#777;font-size: 14px;margin-bottom: 20px;}
.prev_next dt{color:#333;float:left;}
.prev_next dd{color:#333;float:right;}
.prev_next dt a,.prev_next dd a,.prev_next dt span,.prev_next dd span{color:#777;}
.releted_news{margin-top: 20px;}
.releted_news h3,.releted_product h3{height:40px;line-height: 40px;border-bottom: 1px #dedede solid;font-weight: normal;font-size: 16px;}
.releted_news ul{padding:10px 0;}
.releted_news ul li{width:293px;height:30px;line-height:30px;overflow:hidden;float:left;}
.releted_news ul li a{color:#777;}
.releted_news ul li em{width:4px;height:4px;background:#999;margin:13px 5px 0 0;float:left;}
.releted_news ul li a:hover{color:#041656;}
.releted_news ul li a:hover em{background:#041656;}
.releted_product ul{width:900px;margin-left: -20px;float:left;}
.releted_product ul li{width:175px;height:223px;padding:0 15px;margin:20px 0 0 20px;position:relative;float:left;}
.releted_product ul li a{width:175px;height:223px;overflow: hidden;position:absolute;float:left;}
.releted_product ul li img{width:175px;height:175px;float:left;}
.releted_product ul li dl,.releted_product ul li dl dt,.releted_product ul li dl dd{width:100%;float:left;}
.releted_product ul li dl dt,.releted_product ul li dl dd{height:24px;line-height: 24px;overflow: hidden;}
.releted_product ul li dl dt{color:#666;}
.releted_product ul li dl dd{font-size: 14px;color:#E41436;}

/*åˆ†é¡µæ ·å¼*/
.yema{padding:30px 12px 5px;clear:both;*display:inline-block;text-align:center;font-size:14px;vertical-align:top;}
.yema a, .yema span{display:inline-block;height:28px;line-height:28px;padding:0 10px;background:#FAFBFA;border:1px solid #EBECEB;overflow:hidden;vertical-align:top;color:#999;margin-right:3px;}
.yema a:hover{color:#233167;border:1px solid #233167;text-decoration:none}
.yema a:active{color:#ffffff}
.yema .current{background:#233167;border:1px solid #233167;color:#fff}
.yema a.current, .yema a.current:visited{color:#ffffff}
.yema a.current:hover, .yema a.current:active{color:#ffffff}

/*404page*/
.search_fail{width:100%;padding:50px 0;background:#FFF;margin-top:40px;float:left;}
.search_fail dl{width:600px;margin:0 auto;}
.search_fail dl dt{width:200px;float:left;}
.search_fail dl dd{width:370px;padding:15px 30px 0 0;float:left;}
.search_fail dl dd h3{width:100%;height:40px;line-height: 40px;font-size: 16px;color:#333;font-weight:normal;float:left;}
.search_fail dl dd h3 span{color:#e31436;}
.search_fail dl dd div{width:100%;height:60px;line-height: 20px;color:#777;margin-top:30px;overflow:hidden;float:left;}
.view_list{width:100%;margin-top:20px;float:left;}
.view_list h3{width:100%;height:40px;line-height: 40px;font-size: 16px;color:#333;font-weight:normal;float:left;}
.view_list ul{width:1220px;margin-left: -20px;float:left;}
.view_list ul li{width:184px;padding:20px;background:#FFF;margin-left:20px;float:left;}
.view_list ul li img{width:184px;height:160px;padding-bottom:20px;float:left;}
.view_list ul li div.title{width:100%;height:40px;line-height: 20px;overflow: hidden;color:#777;float:left;}
.view_list ul li div.price{width:100%;height:30px;line-height: 30px;margin-top: 5px;color:#999;font-size:12px;float:left;}
.view_list ul li div.price b{color:#e31436;font-size: 18px;font-weight: normal;}

